extends layout

block content
  h1= title
  a(href="/new") Add your fave 

  .msg-container
    each item in messages 
      .msg
          .text= item.text
          .artist= item.artist
          .small-container
            div= item.user 
            div= item.added.toLocaleDateString()
