extends layout

block content
  h1= title
  a(href="/new") Add your fave 

  each item in messages 
    .container
        .text= item.text
        .artist= item.artist
        .small-container
          div= item.user 
          div= item.added.toLocaleDateString()
